.home-products {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  align-content: center;
}


.home-title-container {
  text-align: center;
  margin-bottom: 30px;
}
