.header {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 2;
}

.header-container {
  width: 100%;
  display: flex;
}

.header-img {
  max-width: 100%;
  height: auto;
  width: 255px;
}

.header-user {
  margin-right: 30px;
  margin-top: 10px;
}